################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Market/obj/
Market/bin/
Market/appsettings.json